@import "variables",
		"util",
		"mixins";

.row {
	margin-left: -$grid-gutter-width / 2;
	margin-right: -$grid-gutter-width / 2;
	@extend .clearfix;
}

[class*="span"] {
	float: left;
	box-sizing: border-box;
}

@include make-grid();
@include make-responsive-grid();
